<div class="container">
    <div class="pricing-header p-3 pt-md-5 pb-md-4 text-center">
        <img routerLink="/lhcb" src="assets/images/LHCb.svg" class="logo mb-4" alt="" />
        <div style="width: 100%;
                    height: 100%;
                    border: dashed 2px cyan; 
                    position: relative;">
            <p class="lead" style="margin-top: 21px;">
                Application for visualizing High Energy Physics data & geometry showcasing the LHCb
                beauty experiment!
            </p>
            
            <a routerLink="/lhcb" class="btn btn-primary" style="margin-bottom: 21px;">The LHCb Web Display</a>

            <div style="width: 50%;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    border: dashed 2px cyan; 
                    position: relative; 
                    margin-bottom: 21px;">

                    <p class="lead" style="margin-top: 21px;">A tool for exporting ROOT geometries to .gltf type, 
                    so they can easily be displayed inside the LHCb visualization tool.</p>
                    <a routerLink="/gltf-exporter" class="btn btn-info" style="margin-bottom: 21px;">GLTF Exporter</a>
            </div>
        </div>
    </div>
</div>

<!-- The video cube,
     Implementation can be found on: 
     ./home.component.ts -->
<div class="container">
    <div class="row centered">
        <div id="videoContainer"></div>
        <div id="blocker" style="position: absolute; top: 0; left: 0; bottom: 0; right: 0"></div>
    </div>
</div>

<footer>
    <p>
        ©️ <a href="https://home.cern/">CERN</a>, <a href="https://twitter.com/AndreasPappas22">Andreas Pappas</a><a href="https://lhcb.web.cern.ch/"> @LHCb</a>, <em>{{ year }}</em> LHCb Web Display Project
    </p>
    <p>
        <a href="https://github.com/andrewpap22/LHCb_WebDisplay"> GitHub </a> -
        <a href="https://gitlab.cern.ch/anpappas/LHCb_WebDisplay"> GitLab </a> -
        <a href="https://github.com/HSF/phoenix/blob/master/README.md">
            Phoenix Documentation
        </a>
    </p>
</footer>