<div id="three-container"></div>
<div class="container">
    <div class="pricing-header p-3 pt-md-5 pb-md-4 text-center">
        <img src="assets/images/logo-text.svg" class="logo mb-4" alt="" />
        <p class="lead">
            Application for visualizing High Energy Physics data showcasing the LHCb
            beauty experiment!
        </p>
    </div>
    <div class="row centered">
        <div class="card">
            <img class="card-img-top" src="assets/images/LHCb.svg" alt="Card image cap" />
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">LHCb</h5>
                <p class="card-text">The LHCb Web Display</p>
                <a routerLink="/lhcb" class="btn btn-primary">Show</a>
            </div>
        </div>
        <div id="videoContainer"></div>
        <div id="blocker" style="position: absolute; top: 0; left: 0; bottom: 0; right: 0"></div>
    </div>
</div>

<footer>
    <p>
        <em>{{ year }}</em> LHCb Web Display Project
    </p>
    <p>
        <a href="https://github.com/andrewpap22/LHCb_WebDisplay"> Github </a> -
        <a href="https://github.com/HSF/phoenix/blob/master/README.md">
            Phoenix Documentation
        </a>
    </p>
</footer>